@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~mdb-ui-kit/css/mdb.min.css';

.App {
  text-align: center;
}

* {
  margin: 0;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../movieWallpaper.jpg");
  /* background-color: rgb(196, 196, 196); */
}

#homeTitle {
  margin: 30px;
  font-size: 45px;
  font-weight: bolder;
}

#searchInput {
  min-height: 45px;
  margin-bottom: 40px;
  /* animation: shake 0.5s; */

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* #none {
  display: none;
} */
#resultTitle {
  font-size: 30px;
  color: #F0ECCF;
  position: absolute;
  top: 20px;
  padding: 15px;
  border-radius: 50px;
  background-color: #c88c01;
}

#infoCont {
  width: 40%;
  background-color: aquamarine;

}

.items {
  width: 100%;
  /* margin: 10px; */
  /* padding: 10px; */
  height: 11rem;
  display: flex;
  justify-content: space-between;
}

.items>h1 {
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
}

.items>div {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

#itemsResult {
  width: 55vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbc352d7;
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 20px;
}

.resultPosters {
  width: 60%;
  height: 9rem;
  display: flex;
  margin-bottom: 2rem;

}

.resultPoster {
  width: 7rem;
  height: 100%;

}

#itemsResult>ul {
  position: absolute;
  top: 0;
  width: 80%;
  padding-top: 25px;
  padding-bottom: 40px;
  color: white;
  height: fit-content;
}

#contResult {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.item {
  margin-left: 1.5rem;
  text-align: center;
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-color: #A3BB98 #F0ECCF;
  scrollbar-width: thin;
  scroll-snap-type: proximity;
}

#search {
  width: 40%;
  height: fit-content;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
  min-width: 450px;
}

#search>input {
  border-color: #A3BB98;
  outline: none;
}

#homeContainer>h1 {
  background-color: #ffb300c9;
  color: #ffffff;
}



#contResult {
  background-image: url(../movieWallpaper.jpg);
}

#warning {
  background-color: #b8b8b8;
  color: white;
  border-color: #f82403;
  border-width: 3px;
  width: 45%;
  display: none;
}

#warning>h1 {
  font-size: 23px;
}

#warningLink {
  border-width: 2px;
  border-color: #c88c01;
  background-color: #FFB100;
  padding: 10px;
}



#contMemes {
  height: 100vh;
  width: 100vw;
  background-image: url(../memes-background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#memes {
  position: absolute;
  width: 45%;
  min-width: 33rem;
  height: 90%;
  right: 5%;
  top: 5%;
  /* background: #ff951b8c;
    background: -webkit-linear-gradient(0deg, #ff951b 0%, #ffffff 50%, #0003d2 100%);
    background: linear-gradient(0deg, #ff951b83 0%, #ffffff85 50%, #0004d280 100%);
  } */
}

#meme {
  width: 100%;
  height: 80%;
  min-height: 25rem;
  min-width: 25rem;
  background-color: #0004d200;
}

#meme>img {
  width: 100%;
  height: 100%;
}

#memeButtons {
  display: flex;
  height: 20%;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

#topButtons {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonClass {
  text-align: center;
  font-size: 19px;
  font-family: Arial;
  width: 30%;
  height: 50px;
  border-width: 1px;
  color: rgba(248, 247, 247, 1);
  border-color: rgba(6, 113, 18, 1);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px rgba(8, 24, 245, 1);
  background: #44c767;
}

.buttonClass:hover {
  background: rgba(49, 126, 10, 1);
  color: rgba(248, 247, 247, 1);
}

#memeSaved {
  height: 80%;
  width: 100%;
  min-height: 25rem;
  min-width: 25rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #86fba590;
  color: black;
  position: absolute;
  top: 0;
}

#changeMeme {
  width: 100%;
  height: 30%;
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #23272400;
}

.buttonClass2 {
  height: 100%;
  width: 45%;
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial;
  border-width: 1px;
  color: rgba(248, 247, 247, 1);
  border-color: rgba(6, 113, 18, 1);
  /* border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px; */
  text-shadow: 1px 1px 0px rgba(8, 24, 245, 1);
  background: #44c767;
}

#modal {
  position: relative;
  width: 60rem;
  height: 80%;
  /* From https://css.glass */
  background: rgba(214, 255, 179, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(214, 255, 179, 0.04);
}

#grid {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30rem;
  min-height: 80%;
  height: fit-content;
  gap: 5px 5px;
  /* grid-template-areas:
    ". ."; */
}


#exitModal {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
}

#exitIcon {
  position: sticky;
  z-index: 1;
  /* top: -5px; */
  left: 98%;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: contain;
  background-image: url('../exit.png');
  background-color: transparent;
  cursor: pointer;
}

#loginIcon {
  width: 200px;
  height: 200px;
  background-image: url('../loginIcon.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

#loginCont {
  min-height: 300px;
}

#loginContent {
  min-height: 600px;

}

#confirmPass {
  display: none;
}

#backToLogin {
  display: none;
}




#movieCont {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
}

#moviePoster {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poster {
  width: 70%;
  height: 80%;
}

.ms-2 {
  background-color: #01a791 !important;
  font-size: 1.1rem;
  z-index: 2;
  display: none;
  cursor: pointer;
}

#unsaved {
  background-color: #44c76700;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url("../save.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
}

#saved {
  display: none;
  background-color: #44c76700;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url("../saved.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
}

#movieToHome {
  width: max-content;
  font-size: 1.1rem;
  text-decoration: none;
}

#movieDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#movieDetail {
  height: 80%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

#movieTitles {
  font-size: 3rem;
  position: absolute;
  /* right: 3rem; */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

#movieTitle {
  font-size: 3rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  font-weight: 800;
}

#movieRating {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 200;
}

.movieFlexDiv {
  display: flex;
  margin-top: 1rem;
  font-family: "ProximaNova", "HelveticaNeue", "Helvetica Neue", "Roboto", "Droid Sans", sans-serif;
  font-weight: bold;
  color: rgb(76, 76, 76);
}

.plot {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

span {
  font-family: "ProximaNova", "HelveticaNeue", "Helvetica Neue", "Roboto", "Droid Sans", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-left: 0.4rem;
}


#posterCounter {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -2rem;
  z-index: 1;
}

#posterCounter>h1 {
  font-weight: 400 !important;
}

.carousel {
  width: 70%;
  height: 80%;
}

.carousel-item {
  height: 100% !important;
}

#movieImdb {
  background-image: url('../index.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 7rem;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

#movieImdb:hover {
  color: rgb(255, 196, 0);
}

#movieDetailes {
  margin-top: 8rem;
}

#links {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#trailer {
  width: 12rem;
  height: 3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url(../youtube-logo.png);
  background-position: start;
  background-repeat: no-repeat;
  background-size: contain;
}

#trailer:hover {
  color: rgb(172, 0, 0);
}